{% include 'index/includes/navbar.html' %}
{% load hitcount_tags %}
{% block content %}
<div class="mt-5 sm:mt-0 ">
  <div class="md:grid md:grid-cols-3 md:gap-6 ">
    <div class="mt-5 md:mt-0 md:col-span-3">

      <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
        <div class=" bg-white overflow-hidden sm:rounded-md">
          <div class="px-4 py-5 rounded-xl h-auto md:h-auto bg-white sm:p-6">
            <div class="grid p-2">
    <div class="px-4 md:p-10 py-5 w-full  bg-white rounded-lg">
        {% for p in object_list %}
        <div class="flex items-center justify-between">
            <span class="text-xs font-light text-gray-600 dark:text-gray-500">Posted on {{p.created_on}} {{p.time}} </span>
            <span class="text-xs font-light text-gray-600 dark:text-gray-500">Total views: {% get_hit_count for p %}</span>
        </div>
        <div class="mt-2">
            <a href="{% url 'projectdetails' p.slug %}" class="text-xl text-black hover:text-indigo-600 hover:underline" style="font-family: 'Lato', sans-serif;">{{p.title}} ?</a>
            <p class="mt-2 text-xs text-gray-800 mb-4">{{p.details|striptags|truncatewords:"30"}} </p>
                        <div class="mb-4 mt-5">
                            <a  href="#" class="hover:underline text-gray-800 text-sm font-medium">
                            Read more<i class="fa-solid fa-arrow-right ml-2 text-xs"></i>
                            </a>
                        </div>
            {% for tag in p.tags.all|slice:"4" %}
        <div class="mt-2 mr-4 text-xs inline-flex items-center leading-sm uppercase px-3 py-1 bg-amber-400 text-black ">
            <a href="{% url 'tags' tag.slug %}" class="text-white font-bold">{{tag.name}}</a>
        </div>
        {% endfor %}
            <hr class="mb-3 mt-5">
        </div>
        <div class="flex items-center justify-between mt-4">
            <div class="flex items-center">
                <p class="text-gray-700 text-xs">Uploaded by <a href="#" class="cursor-pointer">{{p.author}}</a></p>
                <p class="text-gray-700 text-xs ml-2 mr-2"><i class="fa-solid fa-eye ml-2 mr-1"></i>{% get_hit_count for p %}</p>
                <p class="text-gray-700 text-xs ml-2 mr-2"><i class="fa-solid fa-reply"></i>1200</p>
                <p class="text-gray-700 text-xs ml-2 mr-2"><i class="fa-solid fa-thumbs-up"></i>1200</p>
                <p class="text-gray-700 text-xs ml-2 mr-2"><i class="fa-solid fa-cloud-arrow-down"></i>11k</p>

            </div>
        </div><hr class="mt-3 mb-8">
                {% endfor %}

    </div>
    </div>

          </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}