{% extends "account/base.html" %}
{% load tailwind_tags %}
{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}
{% block content %}
{% get_providers as socialaccount_providers %}
<script src="https://cdn.tailwindcss.com"></script>
<div class="max-w-md mt-20  mx-auto bg-white shadow-xl rounded my-8 ">
  <div class="p-6 mb-7 ml-3">
                    <div class="space-y-4 ">
                        <img src="https://tailus.io/sources/blocks/social/preview/images/icon.svg" loading="lazy" class="w-10" alt="tailus logo">
                        <h2 class="mb-8 text-2xl text-cyan-900 font-bold">Sign in to unlock the <br> best of Tailus.</h2>
                    </div>
  </div>
  <div class="flex justify-center mb-10">
    {% if socialaccount_providers %}
                    <div class="grid space-y-4 w-80">
                        <button onclick="location.href='https://sec-blog-que.herokuapp.com/accounts/google/login/?process=login'" class="group h-12 px-6 border-2 border-gray-300 rounded-full transition duration-300
 hover:border-blue-400 focus:bg-blue-50 active:bg-blue-100">
                            <div class="relative flex items-center space-x-8 justify-center">
                                <img src="{% static 'google.png' %}" class="absolute left-0 w-5" alt="google logo">
                                <span class="block w-max font-semibold tracking-wide text-gray-700 text-sm transition duration-300 group-hover:text-blue-600 sm:text-base">Continue with Google</span>
                            </div>
                        </button>
                        <button onclick="location.href='https://sec-blog-que.herokuapp.com/accounts/github/login/?process=login'" class="group h-12 px-6 border-2 border-gray-300 rounded-full transition duration-300
 hover:border-blue-400 focus:bg-blue-50 active:bg-blue-100">
                            <div class="relative flex items-center space-x-4 justify-center">
                                <img src="{% static 'github.png' %}" class="absolute left-0 w-5" alt="google logo">

                                <span class="block w-max font-semibold tracking-wide text-gray-700 text-sm transition duration-300 group-hover:text-blue-600 sm:text-base">Continue with Github</span>
                            </div>
                        </button>
                    </div>

    {% include "socialaccount/snippets/login_extra.html" %}
    {% endif %}
  </div>
  <div class="bg-gray-20  pb-16">
    <div class="w-4/5 mx-auto">
      <form class="login bg-white" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
			  {{ form.login|as_crispy_field }}
              {{ form.password|as_crispy_field }}

      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <div class="mb-4">
        <input type="checkbox" name="remember" class="mr-1">
        <label for="remember" class="text-sm text-gray-600">Remember me</label>
        <span class="checkmark"></span>
      </div>
      <button type="submit" class="focus:ring-2 focus:ring-offset-2 focus:ring-indigo-700 text-sm font-semibold leading-none text-white focus:outline-none bg-indigo-700 border rounded hover:bg-indigo-600 py-3 w-full">{% trans "Sign In" %}</button>
      </form></div><br>
        <p tabindex="0" class="text-center focus:outline-none text-sm mt-4 font-medium leading-none text-gray-500">Dont have account? <a href="{{ signup_url }}" class="hover:text-gray-500 focus:text-gray-500 focus:outline-none focus:underline hover:underline text-sm font-medium leading-none text-gray-800 cursor-pointer"> Sign up here</a></p><br>
    <p class="text-center"><a href="{% url 'account_reset_password' %}" class="underline ">Forgot password</a></p>
  </div>
</div>
{% endblock %}
