{% extends "account/base.html" %}

{% load i18n %}
{% block content %}
<script src="https://cdn.tailwindcss.com"></script>
<div class="max-w-md mx-auto bg-white shadow-xl rounded my-8 ">
  <div class="text-center text-size-500 text-gray-800 py-6 text-2xl">
    <br><p tabindex="0" class="focus:outline-none text-2xl font-extrabold leading-6 text-gray-800">Reset your password</p><br>
  </div>
  <div class="bg-gray-20  pb-16">
    <div class="w-4/5 mx-auto">
      <form class="password_change bg-white" method="POST" action="{% url 'account_change_password' %}">
        {% csrf_token %}
        {{ form.as_p }}
      <button type="submit" value="{% trans 'Reset My Password' %}" class="focus:ring-2 focus:ring-offset-2 focus:ring-indigo-700 text-sm font-semibold leading-none text-white focus:outline-none bg-indigo-700 border rounded hover:bg-indigo-600 py-3 w-full">{% trans "Change Password" %}</button>
		  </form></div><br>
        <p tabindex="0" class="text-center focus:outline-none text-sm mt-4 font-medium leading-none text-gray-500">Already have an account? <a href="{% url 'accounts/login' %}" class="hover:text-gray-500 focus:text-gray-500 focus:outline-none focus:underline hover:underline text-sm font-medium leading-none text-gray-800 cursor-pointer"> Sign in here</a></p><br>
  </div>
</div>
{% endblock %}
