{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
<script src="https://cdn.tailwindcss.com"></script>
<br><br><br><div class="max-w-md mx-auto bg-white shadow-xl rounded my-8 ">
  <div class="text-center text-size-500 text-gray-800 py-6 text-2xl">
    <br><p tabindex="0" class="focus:outline-none text-2xl font-extrabold leading-6 text-gray-800">Password Reset</p><br>
  </div>
  <div class="bg-gray-20  pb-16">
    <div class="w-4/5 mx-auto">
      <div class="mb-4">
    <p class="no-underline ...">We have sent you an e-mail. If you have not received it please check your spam folder. Otherwise contact us if you do not receive it in a few minutes.</p>
      </div>
<br>
        <p tabindex="0" class="text-center focus:outline-none text-sm mt-4 font-medium leading-none text-gray-500">Already have an account? <a href="{% url 'account_login' %}" class="hover:text-gray-500 focus:text-gray-500 focus:outline-none focus:underline hover:underline text-sm font-medium leading-none text-gray-800 cursor-pointer"> Sign in here</a></p><br>
  </div>
</div>
</div>
{% endblock %}
