{% extends "account/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<script src="https://cdn.tailwindcss.com"></script>
<div class="max-w-md mx-auto bg-white shadow-xl rounded my-8 ">
  <div class="text-center text-size-500 text-gray-800 py-6 text-2xl">
                    <div class="space-y-4 mt-10">
                        <h2 class="text-3xl text-cyan-900 font-bold text-center">Create your account <br><p class="text-sm mt-3 font-normal">To share and Gain knowledge</p></h2>
                    </div>
  </div>
  <div class="bg-gray-20  pb-16">
    <div class="w-4/5 mx-auto">
        <div class="flex justify-center mb-10">
                            <div class="grid space-y-4 w-80">
                        <button onclick="location.href='https://sec-blog-que.herokuapp.com/accounts/google/login/?process=signup'" class="group h-12 px-6 border-2 border-gray-300 rounded-full transition duration-300
 hover:border-blue-400 focus:bg-blue-50 active:bg-blue-100">
                            <div class="relative flex items-center  justify-center">
                                <img src="{% static 'google.png' %}" class="absolute left-0 w-10" alt="google logo">
                                <span class="block w-max font-semibold tracking-wide text-gray-700 text-sm transition duration-300 group-hover:text-blue-600 sm:text-base">Continue with Google</span>
                            </div>
                        </button>
                    </div>
        </div>
      <form class="signup bg-white" id="signup_form" method="POST" action="{% url 'account_signup' %}">
		  <form method="post" enctype="multipart/form-data" class="signin-form">
        {% csrf_token %}
		  {{ form.username|as_crispy_field }}
		  {{ form.email|as_crispy_field }}
		  {{ form.password1|as_crispy_field }}
		  {{ form.password2|as_crispy_field }}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <div class="mb-4">
        <input type="checkbox" name="remember" class="mr-1">
        <label for="remember" class="text-sm text-gray-600">Remember me</label>
        <span class="checkmark"></span>
      </div>
      <button type="submit" class="focus:ring-2 focus:ring-offset-2 focus:ring-indigo-700 text-sm font-semibold leading-none text-white focus:outline-none bg-indigo-700 border rounded hover:bg-indigo-600 py-3 w-full">{% trans "Sign Up" %}</button>
		  </form></form></div><br>
        <p tabindex="0" class="text-center focus:outline-none text-sm mt-4 font-medium leading-none text-gray-500">Already have an account? <a href="{{ login_url }}" class="hover:text-gray-500 focus:text-gray-500 focus:outline-none focus:underline hover:underline text-sm font-medium leading-none text-gray-800 cursor-pointer"> Sign in here</a></p><br>
  </div>
</div>

{% endblock %}
