{% extends "account/base.html" %}

{% load i18n %}

{% block content %}
<script src="https://cdn.tailwindcss.com"></script>
<br><br><br><div class="max-w-md mx-auto bg-white shadow-xl rounded my-8 ">
  <div class="text-center text-size-500 text-gray-800 py-6 text-2xl">
    <br><p tabindex="0" class="focus:outline-none text-2xl font-extrabold leading-6 text-gray-800">Verify Your E-mail Address</p><br>
  </div>
    <div class="bg-gray-20  pb-16">
    <div class="w-4/5 mx-auto">
<p>We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process. If you do not see the verification e-mail in your main inbox, check your spam folder. Please contact us if you do not receive the verification e-mail within a few minutes</p><br><br>
<br><button type="submit" onclick="window.location.href='{% url 'account_login' %}'" class="focus:ring-2 focus:ring-offset-2 focus:ring-indigo-700 text-sm font-semibold leading-none text-white focus:outline-none bg-indigo-700 border rounded hover:bg-indigo-600 py-3 w-full">Go Back to Login</button>
    </div></div></div>
{% endblock %}
