{% load static %}
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
    <title>Title</title>
  </head>
 <body>
    {% include 'index/includes/navbar.html' %}
    {% block content %}
    <div class="relative flex flex-col items-center justify-center min-h-screen bg-white bg-cover min-w-screen">
    <div
        class="flex flex-col flex-col-reverse items-center justify-center p-10 mx-auto lg:flex-row lg:max-w-6xl lg:p-0">
        <div class="relative w-full  rounded-lg cursor-pointer md:w-2/3 lg:w-1/2 group">
            <div class="relative rounded-md">
                <img src="{% static 'logo.png' %}"
                    class="hidden lg:inline-block shadow-[0_35px_60px_-35px_rgba(0,0,0,0.3)] z-10 object-cover w-96 h-full">
            </div>
        </div>
        <div
            class="container relative z-20 flex flex-col w-full px-5 pr-12 mb-16 text-2xl text-gray-700 lg:w-1/2 sm:px-0 md:px-10 sm:items-center lg:items-start lg:mb-0">
            <h1
                class="relative z-20 font-sans text-4xl font-extrabold leading-none text-black sm:text-5xl xl:text-6xl sm:text-center lg:text-left">
                <span class="relative">
                    <span
                        class="absolute bottom-0 left-0 inline-block w-80 h-4 mb-1 -ml-1 transform "></span>
                    <span class="relative leading-relaxed">Ask Questions,</span>
                </span>
                <span class="relative block text-yellow-400">Find Answers.</span>
            </h1>
            <p class="relative z-20 block mt-6 text-base text-gray-500 xl:text-lg sm:text-center lg:text-left">Join our
                community and thrive with us! We can all help each other, learn together, and grow together.</p>
            <div class="relative flex items-center mt-5">
<!-- component -->
<!-- This is an example component -->
     <div class="pt-2 relative text-gray-600">
         <form method="get">
             {% csrf_token %}
        <input class="border-2 mb-5 border-gray-300 bg-white h-10 w-80 px-3 rounded-lg text-sm focus:outline-none"
          type="search" name="search" placeholder="What are you Looking for?"><br>
         <button type="submit" class="text-white bg-yellow-500 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:bg-yellow-500 font-medium rounded-lg text-sm px-4 py-2 text-center  md:mr-0 dark:bg-yellow-500 dark:hover:bg-blue-700  ">Search..</button>
        </form>
     </div>
            </div>
        </div>
    </div>
</div>

    {% endblock %}

  </body>
</html>