{% load static %}
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
    <title>Title</title>
  </head>
 <body>
    {% include 'index/includes/navbar.html' %}
    {% block content %}
    <div class=" flex flex-col items-center justify-center min-h-screen bg-white bg-cover">
    <div
        class="flex flex-col flex-col-reverse items-center  justify-center p-5 mx-auto lg:flex-row lg:max-w-6xl lg:p-0">
        <div class="relative w-full  rounded-lg cursor-pointer md:w-2/3 lg:w-1/2 group">
            <div class="relative rounded-md">
                <img src="{% static 'logo.png' %}"
                    class="hidden lg:inline-block shadow-[0_35px_60px_-35px_rgba(0,0,0,0.3)] z-10 object-cover w-96 h-full">
            </div>
        </div>
        <div
            class="container relative z-20 flex flex-col w-full px-5 pr-12 mb-16 text-2xl text-gray-700 lg:w-1/2 sm:px-0 md:px-10 sm:items-center lg:items-start lg:mb-0">
            <h1
                class="relative z-20 font-sans text-4xl font-extrabold leading-none text-black sm:text-5xl xl:text-6xl sm:text-center lg:text-left">
                <span class="relative">
                    <span
                        class="absolute bottom-0 left-0 inline-block w-80 h-4 mb-1 -ml-1 transform "></span>
                    <span class="relative leading-relaxed">Ask Questions,</span>
                </span>
                <span class="relative block text-yellow-400">Find Answers.</span>
            </h1>
            <p class="relative z-20 block mt-6 text-base text-gray-500 xl:text-lg sm:text-center lg:text-left">Join our
                community and thrive with us! We can all help each other, learn together, and grow together.</p>
            <div class="relative flex items-center mt-5">
<!-- component -->
<!-- This is an example component -->
     <div class="pt-2 relative text-gray-600">
         <form method="get">
             {% csrf_token %}
        <input class="border-2 mb-5 border-gray-300 bg-white h-10 w-64  px-3 rounded-lg text-sm focus:outline-none"
          type="search" name="search" placeholder="What are you Looking for?"><br>
         <button type="submit" class="text-white bg-yellow-500 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:bg-yellow-500 font-medium rounded-lg text-sm px-4 py-2 text-center  md:mr-0 dark:bg-yellow-500 dark:hover:bg-blue-700  ">Search..</button>
        </form>
     </div>
            </div>
        </div>
    </div>
</div>

<div class="bg-slate-200  overflow-hidden relative lg:flex lg:items-center">
    <div class="w-full py-12 px-4 sm:px-6 lg:py-16 lg:px-8 z-20">
        <h2 class="text-3xl font-extrabold text-black sm:text-4xl">
            <span class="block">
                A public platform to ask and find all technical answers related
            </span>
        </h2>
        <p class="text-md mt-4 text-gray-400">
            Join our community and find millions of answers and clear all your doubts related to programming, security related and many more
        </p>
        <div class="lg:mt-0 lg:flex-shrink-0">
            <div class="mt-12 inline-flex rounded-md shadow">
                <button type="button" class="py-2 px-4  bg-green-500 hover:bg-green-700 focus:ring-green-500 focus:ring-offset-green-200 text-white w-full transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2  rounded-lg ">
                    Get started
                </button>
            </div>
        </div>
    </div>
    <div class="flex items-center gap-8 p-8 lg:p-24">
        <img src="https://images.unsplash.com/photo-1511512578047-dfb367046420?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80" class="rounded-lg w-1/2" alt="Tree"/>
        <div>
            <img src="https://images.unsplash.com/photo-1542751371-adc38448a05e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" class="rounded-lg mb-8 transition duration-500 hover:scale-110" alt="Tree"/>
            <img src="https://images.unsplash.com/photo-1511512578047-dfb367046420?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80" class="rounded-lg" alt="Tree"/>
        </div>
    </div>
</div>

    {% endblock %}

  </body>
</html>