
{% include 'index/includes/navbar.html' %}
{% block content %}
{% load widget_tweaks %}

<div class="max-w-2xl px-8 py-5 mx-auto bg-white rounded-lg">
  <div class="relative">
	<div class="absolute flex items-center ml-2 h-full">

	</div>
      <form method="get" enctype="multipart/form-data" action="{% url 'search' %}">
          {% csrf_token %}
	<input type="search" name="q" placeholder="Search by Question, Category, posted time..." class="px-8 py-3 w-full rounded-md bg-gray-100 border-transparent focus:border-gray-500 focus:bg-white focus:ring-0 text-sm">
   </div>

	<div class="flex items-center justify-between mt-4">
        <button type="submit" class="px-4 py-2 bg-gray-100 hover:bg-gray-200 text-gray-800 text-sm font-medium rounded-md">
		Latest
	  </button>
        <button type="reset" class="px-4 py-2 bg-gray-100 hover:bg-gray-200 text-gray-800 text-sm font-medium rounded-md">
		Updated
	  </button>
        <button type="reset" class="px-4 py-2 bg-gray-100 hover:bg-gray-200 text-gray-800 text-sm font-medium rounded-md">
		Unanswered
	  </button>


        <button type="submit" class="px-4 py-2 bg-gray-100 hover:bg-gray-200 text-gray-800 text-sm font-medium rounded-md">
		Search
	  </button>
	</div>

	<div>
	  <div class="grid grid-cols-2 md:grid-cols-3 xl:grid-cols-4 gap-4 mt-4">

          </form>
	  </div>
	</div>
            <div class="mb-3 mt-6">
           <p class="text-sm text-black">Total Questions Found: {{filter.qs.count}}</p>
        </div><hr>
       </div>
        {% for q in filter.qs %}
    <div class="max-w-2xl px-8 py-3 mx-auto bg-white rounded-lg">
        <div class="flex items-center justify-between">
            <span class="text-xs font-light text-gray-600 dark:text-gray-400">Posted on {{q.created_on}} {{q.time}}</span>
            <a href="#" class="text-blue-600 text-sm dark:text-blue-400 hover:underline">Read more</a>
        </div>

        <div class="mt-2">
            <a href="{% url 'quesdetail' q.slug %}" class="text-xl  text-black hover:text-indigo-600 hover:underline">{{q.title}}</a>
            <p class="mt-2 text-sm text-gray-800">{{q.questions|safe|truncatewords:"15"}}</p>
        </div>

        <div class="flex items-center justify-between mt-4">
            <div class="flex items-center">
                <p class="text-gray-500 text-xs">Asked by <a href="" class="cursor-pointer">{{q.author}}</a></p>
            </div>
        </div><hr class="mt-3">
    </div>

{% endfor %}

{% endblock %}