{% extends 'profile_manager/profile_sidebar.html' %}
{% load hitcount_tags %}
{% block content %}
<div class="mt-5 md:mt-5  sm:mt-0 ">
  <div class="md:grid md:grid-cols-3 md:gap-6 ">
    <div class="mt-5 md:mt-0 md:col-span-3">
      <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
            <div class="grid w-full md:w-full">
    <div class=" px-8 py-4 w-full  bg-white rounded-lg">
        {% for q in que %}
        <div class="flex items-center justify-between">
            <span class="text-xs font-light text-gray-600 dark:text-gray-400">Posted on {{q.created_on}} {{q.time}} </span>
            <span class="text-xs font-light text-gray-600 dark:text-gray-400">Total views: {% get_hit_count for q %}</span>
        </div>
        <div class="mt-2">
            <a href="{% url 'quesdetail' q.slug %}" class="text-md font-bold text-black hover:text-indigo-600 hover:underline">{{q.title}} ?</a>
            <p class="mt-2 text-xs text-gray-800 mb-4">{{q.questions|striptags|truncatewords:"30"}} </p>
                        <div class="mb-4 mt-5">
                            <i class="fa-solid fa-pen-to-square mr-5 cursor-pointer text-gray-700"></i>
                            <i class="fa-solid fa-trash cursor-pointer mr-5 text-gray-700"></i>
                            <i class="fa-solid fa-share-from-square cursor-pointer mr-5 text-gray-700"></i>
                        </div>
            <hr class="mb-7">
        </div>
        {% endfor %}
    </div>

          </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}