{% extends 'profile_manager/profile_sidebar.html' %}
{% load hitcount_tags %}
{% block content %}
<div class="mt-5 md:mt-5  sm:mt-0 ">
  <div class="md:grid md:grid-cols-3 md:gap-6 ">
    <div class="mt-5 md:mt-0 md:col-span-3">
      <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
            <div class="grid w-full md:w-full">
    <div class=" px-8 py-4 w-full  bg-white rounded-lg">
        {% if blo|length >= 10 %}
        <h1>Total questions posted: > 10</h1><br>
        {% else %}
        <h1>Total blogs posted: {{blo.count}}</h1><br>
        {% endif %}
        <hr class="mb-7">
        {% if blo %}
        {% for b in blo %}
        <div class="flex items-center justify-between">
            <span class="text-xs font-light text-gray-600 dark:text-gray-400">Posted on {{b.created_on}} {{b.time}} </span>
            <span class="text-xs font-light text-gray-600 dark:text-gray-400">Total views: {% get_hit_count for b %}</span>
        </div>
        <div class="mt-2">
            <a href="{% url 'details' b.slug %}" class="text-md font-bold text-black hover:text-indigo-600 hover:underline">{{b.title|capfirst}} ?</a>
            <p class="mt-2 text-xs text-gray-800 mb-4">{{b.article|striptags|truncatewords:"30"}} </p>
                        <div class="mb-4 mt-5">
                            <i class="fa-solid fa-pen-to-square mr-5 cursor-pointer text-gray-700"></i>
                            <i class="fa-solid fa-trash cursor-pointer mr-5 text-gray-700"></i>
                            <i class="fa-solid fa-share-from-square cursor-pointer mr-5 text-gray-700"></i>
                        </div>
            <hr class="mb-7">
        </div>
        {% endfor %}
    </div>
                {% else %}
                <!-- component -->
<div class="lg:px-24 lg:py-24 md:py-20 md:px-44 px-4 py-24 items-center flex justify-center flex-col-reverse lg:flex-row md:gap-28 gap-16">
            <div class="xl:pt-24 w-full xl:w-1/2 relative pb-12 lg:pb-0">
                <div class="relative">
                    <div class="absolute">
                        <div class="">
                            <h1 class="my-2 text-gray-800 font-bold text-2xl">
                                Looks like you've found the
                                doorway to the great nothing
                            </h1>
                            <p class="my-2 text-gray-800">Sorry about that! Please visit our hompage to get where you need to go.</p>
                            <button class="sm:w-full lg:w-auto my-2 border rounded md py-4 px-8 text-center bg-indigo-600 text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-700 focus:ring-opacity-50">Take me there!</button>
                        </div>
                    </div>
                    <div>
                        <img src="https://i.ibb.co/G9DC8S0/404-2.png" />
                    </div>
                </div>
            </div>
            <div>
                <img src="https://i.ibb.co/ck1SGFJ/Group.png" />
            </div>
        </div>
                {% endif %}

          </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}